/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

::selection{
  background-color: black;
  color: azure;
}

body {
  /* font-family: 'Bree Serif', serif; */
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* for the header section of logo and links */
.logo {
  margin-left: 20px;
  padding: 10px;
}
.logoImg {
  width: 100px;
  max-width: 100%;
  padding: 5px;
  border-radius: 50%;
  height: auto;
  object-fit: cover;
}

.menu--icon,
.overlay {
  display: none;
}

a {
  text-decoration: none;
  color: azure;
  transition: color 0.25s ease-in;
}

a:hover {
  filter: drop-shadow(1px 1px 2px brown);
}

li {
  list-style-type: none;
  margin-right: 20px;
  display: inline;
}

.links {
  margin-right: 20px;
  padding: 10px;
}

/* the body bg-color */
.body--color {
  background-image: radial-gradient(circle, azure, black);
}
/* the main container */
.container {
  max-width: 100%;
  width: 100%;
  position: relative;
  margin: auto;
  margin-top: 30px;
}

.container img {
  width: 100%;
  max-width: 100%;
  height: 470px;
  object-fit: cover;
  vertical-align: middle;
}

/* hide the images by default */
/* .container-slider {
  display: none;
} */

/* for the next and prev buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #fff;
  font-weight: bold;
  font-size: 3rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* position the next button to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* on hover, add a background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}

/* caption text */
.text {
  color: #f2f2f2;
  font-size: 2.5rem;
  font-style: italic;
  padding: 8px 12px;
  position: absolute;
  bottom: 30px;
  width: 100%;
  font-family: "Bree Serif", serif;
  font-weight: 300;
  text-align: center;
}

/* top text */
.top {
  color: #f2f2f2;
  font-weight: 400;
  font-size: 5rem;
  word-spacing: 7px;
  padding: 8px 12px;
  text-align: center;
  line-height: 1.5;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*  the dots */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #000;
}

/* fading animation */
/* @keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
} */

/* the cards section */
.cards-section {
  margin-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 15px;
  font-weight: 400;
  font-style: italic;
  font-size: 3rem;
  font-family: "Bree Serif", serif;
}

.card {
  position: relative;
  width: 50%;
  padding: 40px;
  line-height: 1.5;
  background-color: antiquewhite;
  height: 250px;
box-shadow: 0 0 15px 1px azure;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  background-color: rgb(71, 70, 70);
  color: antiquewhite;
}

.card a {
  color: rgb(71, 60, 60);
}
.card:hover .card i {
  color: antiquewhite;
  filter: drop-shadow(1px 2px 3px rgb(90, 85, 85));
}

.card:hover a {
  color: rgb(187, 115, 64);
}

.card a:hover {
  color: azure;
}
.card i {
  position: absolute;
  top: 10px;
  filter: drop-shadow(1px 2px 3px #fff);
  left: 15px;
  padding: 10px;
}

.card p {
  position: absolute;
  text-align: center;
  top: 40px;
  left: 20px;
  padding: 10px;
  font-weight: 100;
}

/* footer section */
hr {
  margin-top: 100px;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: azure;
  background-color: #000;
  padding: 5px;
}
.footer div {
  margin-top: 10px;
}

.footer a {

  filter: drop-shadow(1px 2px 3px #fff);
}

/* media queries */
@media screen and (max-width: 1035px) {
  .card {
    height: 350px;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 780px) {
  .logoImg {
    width: 95px;

  }
  .links {
    display: none;
  }
  .menu--icon {
    display: block;
    margin-right: 20px;
    padding: 10px;
    cursor: pointer;

  }
  .top{
    line-height: 1.25;
  }
  .text {
    bottom: 5px;
  }

  #dashes {
    font-size: 3rem;
    color: azure;
  }
  .overlay {
    display: block;
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .overlay a {
    font-size: 2rem;
    padding: 8px;
    margin-top: 5px;
    display: block;
  }

  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 40px;
    color: azure;
    font-size: 3rem;
    cursor: pointer;
  }
  /* header {
    animation: anime 3s ease-in 0.5s;
  } */
  .cards-section {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    padding-bottom: 70px;
  }
  .card {
    width: 100%;
    height: 500px;
min-height: 100%;
  }

  .card p {
    position: absolute;
    top: 50%;
   right: 0;
    text-align: right;
    line-height: 1.6;
    padding: 0 1.2rem;

  }

  /* @keyframes anime {
    0% {
      opacity: 0;
      transform: scale(0);
    }

    50% {
      opacity: 0.5;
      transform: scale(0.5);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  } */

  .footer {
    font-size: 2rem;
  }
  .footer a{
    font-size: 2.2rem;
    color: azure;
  }
}

@media screen and (max-width: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
