/* GENERAL */

body{
  position: relative;
}

body,
header ,.banner{
  color: #fff;
  background: radial-gradient(circle, rgb(94, 96, 96), black);
}
/* All stores section */
/* Banner section */
.banner  {
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20rem;
 text-transform: uppercase;
cursor: pointer;
position: fixed;
width: 100%;
padding: 1rem 2rem;
top: 10rem;
left: 50%;
transform: translate(-50%, -50%);
}

@media screen and (max-width:620px) {
  .banner{
    gap: 5rem;
    z-index: 2;
  }
  .banner div{
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    padding: 1.5rem;
}
}
@media screen and (max-width:340px) {
  .banner{
    gap: 1rem;
    padding: 1rem 1rem;
  }
}
section {
  margin-top: 5rem;
  padding: 2rem 3rem;
  border-bottom: 2px solid gray;
}

.cakes img,
.doughs img,
.snacks img {
  width: 50%;
  max-width: 450px;
  margin-top: 2rem;
  object-fit: cover;
}

.cakes div,
.doughs div,
.snacks div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
}

@media screen and (max-width: 780px) {
  .cakes div,
  .doughs div,
  .snacks div {
    flex-direction: column;
    font-size: 2.5rem;
  }
  .cakes img,
  .doughs img,
  .snacks img {
    width: 100%;
    max-width: 600px;
    margin-top: 2.5rem;
  }
  h2{
    font-size: 3rem;
  }
}
