body,
header {
  color: #fff;
  background: radial-gradient(circle, rgb(94, 96, 96), black);
}


section{
    text-align: center;
   margin: 10rem 5rem;
   word-spacing: 0.5rem;
   font-size: 2rem;
}

@media screen and (max-width:780px) {
   section{
     font-size: 2.5rem;
     line-height: 1.3;
   }
}